<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="scheduleType" value="cron" /> <!--it could be "now"-->
    <add key="serviceName" value="AnotherCoolService" />
    <add key="displayName" value="AnotherCoolService" />
    <add key="description" value="Service completely meaningless." />
    <add key="serviceRecoveryRestartAfterWaitingDelayPeriod" value="5" />
    <add key="processQuantityRunningAtATime" value="1" />
    <add key="CronScheduleJobProd" value="0 10 1 ? * SUN" />
    <add key="CronScheduleJobDev" value="0 0/1 * ? * *" />
    <!-- <add key="CronScheduleJobDev" value="0 0/3 * ? * *" />-->
    <add key="Environment" value="staging" /> <!--it could be "development", "production"-->
    <add key="CacheServerUrl" value="localhost" />
  </appSettings>
</configuration>